- menu = ['about', 'work', 'lets talk']

.header#header
  ul.menu
    each value, i in menu
      li
        a= value
        
.container        
  .logo
    p.first DOMINIC
    p.last /KOLBE
  
#test.wrapper
  .title - ABOUT ME -
  .ui.horizontal.icon.divider
    .circular.terminal.icon
    
  p Well, you can write something about yourself. For example, full name,  age, your geolocation and etc. And specific of your work. Maybe your work focused on UI / Web / Graphic or Motion design. I don't know :)
